<div id="<%= dom_id device %>">
  <p>
    <strong>Serial:</strong>
    <%= device.serial %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= device.model %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= device.brand %>
  </p>

  <p>
    <strong>Processor:</strong>
    <%= device.processor %>
  </p>

  <p>
    <strong>Memory:</strong>
    <%= device.memory %>
  </p>

  <p>
    <strong>Storage:</strong>
    <%= device.storage %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= device.status %>
  </p>

  <p>
    <strong>Headquarter:</strong>
    <%= device.headquarter_id %>
  </p>

  <p>
    <strong>Colaborator:</strong>
    <%= device.colaborator_id %>
  </p>

</div>
