<div id="<%= dom_id colaborator %>">
  <p>
    <strong>Name:</strong>
    <%= colaborator.name %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= colaborator.lastname %>
  </p>

  <p>
    <strong>Profile:</strong>
    <%= colaborator.profile %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= colaborator.status %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= colaborator.email %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= colaborator.phone %>
  </p>

  <p>
    <strong>Adress:</strong>
    <%= colaborator.adress %>
  </p>

</div>
