<div id="<%= dom_id history %>">
  <p>
    <strong>Colaborator:</strong>
    <%= history.colaborator_id %>
  </p>

  <p>
    <strong>Device:</strong>
    <%= history.device_id %>
  </p>

  <p>
    <strong>Peripheral:</strong>
    <%= history.peripheral_id %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= history.notes %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= history.date %>
  </p>

</div>
