<div id="<%= dom_id peripheral %>">
  <p>
    <strong>Serial:</strong>
    <%= peripheral.serial %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= peripheral.description %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= peripheral.brand %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= peripheral.model %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= peripheral.type_id %>
  </p>

  <p>
    <strong>Colaborator:</strong>
    <%= peripheral.colaborator_id %>
  </p>

  <p>
    <strong>Headquarter:</strong>
    <%= peripheral.headquarter_id %>
  </p>

</div>
